.main-action {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.swatch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

#swatch.focused {
  border: 2px solid #3F51B5;
  border-radius: 50%;
}

#color-wrapper.invalid {
  border: 2px solid red;
  border-radius: 25px;
}

#color-wrapper {
  position: relative;
  top: 25px;
  right: 25%;
}

.project {
  height: 50px;
  cursor: pointer;
  display: block;
}

.md-chip {
  background: rgb(224,224,224);
  color: rgb(66,66,66);
  cursor: default;
  border-radius: 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 8px 8px 0 0;
  padding: 0 12px 0 12px;
  float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  outline: 0;
}

.md-chip.focused {
  background: rgb(16,108,200);
  color: rgba(255,255,255,0.87);
}
