<form name="form" flex>
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Project Name</label>
      <input type="text" required />
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Project Summary</label>
      <textarea type="text" required></textarea>
    </md-input-container>
  </div>
  
  <div layout layout-sm="column">
    <label style="color: rgba(0,0,0,0.26);">Label Color</label>
    <color-picker></color-picker>
  </div>
</form>
