<form name="form" flex ng-submit="createProject()">
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Project Name</label>
      <input type="text" required ng-model="project.name" />
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Project Summary</label>
      <textarea type="text" required ng-model="project.summary"></textarea>
    </md-input-container>
  </div>

  <div layout layout-sm="column" style="margin-bottom: 40px;">
    <label style="color: rgba(0,0,0,0.26);">Label Color</label>
    <color-picker></color-picker>
  </div>

  <div layout layout-sm="column">
    <md-button>Create Project</md-button>
    <md-button ng-click="goToProjects()">Cancel</md-button>
  </div>
</form>
