<div class="project" flex="100" ng-repeat="project in projects" style="background-color: {{project.color}};" ng-click="goToProject(project._id)">
  {{project.name}}

  <md-button class="md-icon-button" style="float: right;position: relative; bottom: 7px;" ng-click="removeProject(project, $event)">
    <md-tooltip md-direction="left">Delete project</md-tooltip>
    <md-icon>clear</md-icon>
  </md-button>
</div>

<div ng-if="projects.length === 0" layout="row" layout-align="center">
  <div style="position: absolute;transform: translate(-50%);top: 40%;">
    <h1>Create some projects below</h1>
  </div>
</div>

<md-button class="md-fab main-action" ui-sref="createProject">
  <md-icon>add</md-icon>
  <md-tooltip md-direction="left">
    Create a project
  </md-tooltip>
</md-button>
