<md-list>
  <md-list-item class="md-2-line" ng-repeat="task in tasks">
    <div class="md-list-item-text" layout="column">
      <h3>{{task.name}}</h3>
      <h4>{{task.totalHours}} hours for ${{estimate.tasks[task._id].charge}}</h4>
    </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list>

<div layout="row">
  <div layout="column" flex>
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="left center" style="padding-left: 10px;">
      <p>
        {{project.summary}}
      </p>
    </md-whiteframe>
  </div>
</div>

<h3>Total - {{estimate.hours}} hours for ${{estimate.sum}}</h3>
