<md-dialog aria-label="Create Task">
  <md-dialog-content>
    <form name="form" flex ng-submit="createTask()">
      <div layout="column" layout-sm="column">
        <md-input-container flex>
          <label>Task Name</label>
          <input type="text" required ng-model="task.name" />
        </md-input-container>

        <md-input-container flex>
          <label>Labels</label>
          <md-chips ng-model="task.labels"></md-chips>
        </md-input-container>
      </div>

      <div layout layout-sm="column" style="margin-bottom: 10px;margin-top: 40px;margin-left:5px;">
        <label style="color: rgba(0,0,0,0.26);">Label Color</label>
        <color-picker></color-picker>
      </div>
    </form>
  </md-dialog-content>

  <div class="md-actions">
    <md-button ng-click="createTask()" class="md-primary">
      Create Task
    </md-button>
    <md-button ng-click="closeDialog()">
      Cancel
    </md-button>
  </div>
</md-dialog>
